* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
    position: relative;
}

legend {
    font-weight: bold;
}

.header {
    margin: 4rem;
    display: flex;
    flex-direction: column;
    font-size: larger;
    font-weight: bold;
}

.want {
    margin-top: 25px;
}

form,
fieldset {
    border: none;
}

.first,
.second,
.third {
    display: flex;
    gap: 5em;
    padding-bottom: 15px;
}

@media screen and (max-width: 1000px) {
    .first,
    .second,
    .third {
        display: block;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .header {
        margin: 1rem;
    }
}


fieldset {
    position: relative;
    padding: 2em;
    padding-top: 55px;
    background-color: white;
    box-shadow: 4px 5px 6px #aaa;
}

legend {
    position: absolute;
    top: 16px;
    font-size: 18px;
}

label {
    font-size: small;
    letter-spacing: 1px;
}

.left-container {
    min-width: 40%;
    background-image: url(sunrise.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding-top: 120px;
}

.logo {
    background-color: black;
    opacity: 0.5;
    color: white;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.container {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: lightgray;
    max-width: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    padding: 10px 33px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 5%;
    background-color: darkred;
    color: white;
    border: 1px solid black;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 5%;
    margin-bottom: 5%;
}

button:hover {
    background-color: rgb(107, 0, 0)
}

button:active {
    background-color: rgb(75, 0, 0)
}

input {
    padding: 2px;
    border: 1px solid #e5e7eb;
}

input[type="password"]:focus {
    outline: blue;
    border: 1px solid blue;
    box-shadow: 4px 5px 6px #aaa;
    border-radius: 3px;
    border-width: 1px;
}

input[type="text"]:focus {
    outline: blue;
    border: 1px solid blue;
    box-shadow: 4px 5px 6px #aaa;
    border-radius: 3px;
    border-width: 1px;
}

input[type="email"]:focus {
    outline: blue;
    border: 1px solid blue;
    box-shadow: 4px 5px 6px #aaa;
    border-radius: 3px;
    border-width: 1px;
}

input[type="tel"]:focus {
    outline: blue;
    border: 1px solid blue;
    box-shadow: 4px 5px 6px #aaa;
    border-radius: 3px;
    border-width: 1px;
}

.login {
    margin-left: 5%;
}
